<!DOCTYPE html>

<html ng-app="clockworks">
<head>
    <title>Clockworks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div ng-controller="squadMenuController"
     ng-switch="currentWindow"
     ng-init="onLoad()">

    <div id="menu" ng-switch-when="MENU">
        <button type="button" ng-click="toNewHeroMenu()">New hero</button>
        <p>Squads: </p>
        <div id="squads">
            <div ng-repeat="(index, squad) in availableSquads">
                <input type="radio"
                       ng-model="temp[index]"
                       ng-value="squad.id"
                       ng-change="temp.chosenSquadId = temp[index]">
                {{squad.name}}
            </div>
        </div>
        <button type="button" ng-click="openSocket()">Open</button>
    </div>

    <div id="newHero" ng-switch-when="NEW_HERO">
        <button type="button" ng-click="toMainMenu()">Back</button>
        <div>
            Name:
            <input ng-model="newHero.name">
        </div>
        <div>
            Head:
            <select ng-options="head as head.name for head in staticData.bodyparts.HEAD track by head.id" ng-model="newHero.head"></select>
        </div>
        <div>
            Chest:
            <select ng-options="chest as chest.name for chest in staticData.bodyparts.CHEST track by chest.id" ng-model="newHero.chest"></select>
        </div>
        <div>
            Right arm:
            <select ng-options="rightHand as rightHand.name for rightHand in staticData.bodyparts.RIGHT_HAND track by rightHand.id" ng-model="newHero.rightHand"></select>
        </div>
        <div>
            Left arm:
            <select ng-options="leftHand as leftHand.name for leftHand in staticData.bodyparts.LEFT_HAND track by leftHand.id" ng-model="newHero.leftHand"></select>
        </div>
        <div>
            Legs:
            <select ng-options="legs as legs.name for legs in staticData.bodyparts.LEGS track by legs.id" ng-model="newHero.legs"></select>
        </div>
        <div>
            Backpack:
            <select ng-options="backpack as backpack.name for backpack in staticData.bodyparts.BACKPACK track by backpack.id" ng-model="newHero.backpack"></select>
        </div>
    </div>

    <div id="game" ng-switch-when="GAME">
        <div id="gameState">
            Game state: {{gameState}}
        </div>
        <button type="button" ng-click="closeSocket()">Close</button>
        <br>
        <button type="button" ng-if="gameState==='MULLIGAN'" ng-click="sendMulliganInfo()">Choose heroes
        </button>
        <div id="currentSpell" ng-if="angular.isNumber(temp.castedSpellPosition)">
            Choose targets for spell '{{currentSpells[temp.castedSpellPosition].id}}', caster positions:
            {{staticData.spells[currentSpells[temp.castedSpellPosition].id].casterPositions}}, targets positions:
            {{staticData.spells[currentSpells[temp.castedSpellPosition].id].targetOwnPositions}}
            <button type="button" ng-click="temp.castedSpellPosition = undefined">
                Cancel
            </button>
        </div>
        <div id="spellBar" ng-if="gameState==='PLAYING' && !heroesQueue[0].enemy">
            <div ng-repeat="spell in currentSpells track by $index">
                <button type="button" ng-click="onSpellButtonPress($index)">{{staticData.spells[spell.id].name}}
                    {{spell}}
                </button>
            </div>
        </div>
        <div id="connected">
            Connected: {{connected}}
        </div>
        <div id="queue">
            <span ng-repeat="item in heroesQueue track by $index"><- {{item ? item : '?'}}</span>
        </div>
        <div class="battlefield">
            <div ng-class="{'myRobot' : true,
            'colorChosen' : mulliganChosenHeroesIds.includes(item.id),
            'colorCurrentTurn' : heroesQueue[0].id === item.id,
            'colorTargetable' : staticData.spells[currentSpells[temp.castedSpellPosition].id].targetOwnPositions.includes(-$index - 1)}"
                 data-ng-repeat="item in myHeroesUri track by $index"
                 data-ng-click="onHeroClick(item.id, false)">
                <div class="head" ng-style="{'background-color': item.appearance.head}"></div>
                <div class="body" ng-style="{'background-color': item.appearance.body}"></div>
                <div class="rightHand" ng-style="{'background-color': item.appearance.arms}"></div>
                <div class="legs" ng-style="{'background-color': item.appearance.legs}"></div>
                <progress class="healthBar" value="{{item.attributes.health.current}}" max="{{item.attributes.health.max}}">
                    <span>{{item.attributes.health.current}}/{{item.attributes.health.max}}</span>
                </progress>
            </div>
            <div class="midSpace">
            </div>
            <div ng-class="{'enemyRobot' : true,
            'colorCurrentTurn' : heroesQueue[0].id === item.id,
            'colorTargetable' : staticData.spells[currentSpells[temp.castedSpellPosition].id].targetOwnPositions.includes($index + 1)}"
                 data-ng-repeat="item in enemyHeroes track by $index"
                 data-ng-click="onHeroClick(item.id, true)">
                <div class="head" ng-style="{'background-color': item.appearance.head}"></div>
                <div class="body" ng-style="{'background-color': item.appearance.body}"></div>
                <div class="rightHand" ng-style="{'background-color': item.appearance.arms}"></div>
                <div class="legs" ng-style="{'background-color': item.appearance.legs}"></div>
                <progress class="healthBar" value="{{item.attributes.health.current}}" max="{{item.attributes.health.max}}">
                    <span>{{item.attributes.health.current}}/{{item.attributes.health.max}}</span>
                </progress>
            </div>
        </div>
        <div id="log">
            <div ng-repeat="item in battleLog track by $index">
                <span>Sender: {{item.senderId}}, Spell: {{item.spellId}}, Enemy: {{item.enemy}}</span>
            </div>
        </div>
        <div id="messages">
            <div ng-repeat="item in messages track by $index">
                <span>{{item}}</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>