<!DOCTYPE html>
<html lang="en" ng-app="farmApp">
<head>
    <meta charset="UTF-8">
    <title>FarmPrototype</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/field.js"></script>
    <script>
        angular.module('farmApp', [])
            .controller('FarmController', function ($http) {
                var farm = this;
                farm.commands = ["GET", "BUY", "SOW", "REAP"];
                farm.chosenCell = {};

                farm.execute = function () {
                    $http.post("http://localhost:4567/farm/execute", farm.chosenCommand)
                        .then(function (response) {
                            farm.bag = response.data.bag;
                            farm.field = response.data.field;

                            if (typeof farm.chosenCell.x === 'number' && typeof farm.chosenCell.y === 'number') {
                                farm.chosenCell.value = farm.field[farm.chosenCell.x][farm.chosenCell.y];
                            }
                        });
                };

                farm.getCellStyle = function (x, y) {
                    if (farm.chosenCell.x === x && farm.chosenCell.y === y) {
                        return 'cell chosen';
                    }
                    return 'cell default';
                };

                farm.onCellClick = function (x, y, cell) {
                    farm.chosenCommand.x = x;
                    farm.chosenCommand.y = y;
                    farm.chosenCell = {};
                    farm.chosenCell.x = x;
                    farm.chosenCell.y = y;
                    farm.chosenCell.value = cell;
                }
            });
    </script>
    <style>
        .row {
            overflow: auto;
        }

        .cell {
            height: 100px;
            width: 100px;
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            float: left;
        }

        .cell.default {
            background-color: #ded9ff;
        }

        .cell.chosen {
            background-color: #ff9599;
        }
    </style>
</head>
<body>
<div ng-controller="FarmController as farm"
     class="farm">
    <div ng-show="farm.bag">Bag: {{farm.bag}}</div>
    <div ng-show="farm.field">Chosen cell: {{farm.chosenCell}}</div>
    <label> Command:
        <select ng-model="farm.chosenCommand.command" ng-options="command for command in farm.commands">
        </select>
    </label><br>
    <div ng-show="farm.chosenCommand">
        <div>Chosen command: {{farm.chosenCommand}}</div>
        <button ng-click="farm.execute()">Call</button>
    </div>
    <div ng-repeat="row in farm.field track by $index"
         class="row">
        <div ng-repeat="cell in row track by $index"
             ng-click="farm.onCellClick($parent.$index, $index, cell)"
             ng-class="farm.getCellStyle($parent.$index, $index)">
            {{cell.name}}
        </div>
        <br/>
    </div>
</div>
</body>
</html>