<!DOCTYPE html>
<html lang="en" ng-app="farmApp">
<head>
    <meta charset="UTF-8">
    <title>FarmPrototype</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/api.js"></script>
    <script src="js/items.js"></script>
    <script src="js/shop.js"></script>
    <script src="js/bag.js"></script>
    <script src="js/farm.js"></script>
    <script>
        angular.module('farmApp', [])
            .controller('GameController', function ($http, $scope, $timeout) {
                var game = this;
                var updateDelta = 50;
                game.commands = ["GET", "BUY", "SOW", "REAP"];
                game.chosenCell = {};
                game.chosenCommand = {};
                game.farm = [[]];

                game.execute = function (command) {
                    game.chosenCommand.command = command;
                    $http.post("http://localhost:4567/game/execute", game.chosenCommand)
                        .then(function (response) {
                            game.bag = response.data.bag;
                            game.farm = response.data.farm;

                            if (typeof game.chosenCell.x === 'number' && typeof game.chosenCell.y === 'number') {
                                game.chosenCell.value = game.farm[game.chosenCell.x][game.chosenCell.y];
                            }
                            runTimers();
                        });
                };

                function runTimers() {
                    var now = new Date().getTime();
                    for (var x = 0; x < game.farm.length; x++) {
                        for (var y = 0; y < game.farm[x].length; y++) {
                            if (!game.farm[x][y]) {
                                continue;
                            }
                            if (game.farm[x][y].currentProductionTimeLeft > 0) {
                                var timeLeft = game.farm[x][y].endTime - now;
                                game.farm[x][y].currentProductionTimeLeft = timeLeft > 0 ? timeLeft : 0;
                            }
                        }
                    }
                    if (!$scope.$$phase) {
                        $scope.$apply();
                    }
                    $timeout(runTimers, updateDelta);
                }

                game.getCellStyle = function (x, y) {
                    var style = 'cell';
                    if (game.chosenCell.x === x && game.chosenCell.y === y) {
                        style += ' chosen';
                    }
                    var cell = game.farm[x][y];
                    if (!cell || !cell.queue) {
                        return style + ' empty';
                    }
                    if (cell.queue.length === 0) {
                        return style + ' waiting';
                    }
                    if (cell.endTime > new Date().getTime()) {
                        return style + ' producing';
                    }
                    return style + ' ready';
                };

                game.onCellClick = function (x, y, cell) {
                    game.chosenCommand.x = x;
                    game.chosenCommand.y = y;
                    game.chosenCell = {};
                    game.chosenCell.x = x;
                    game.chosenCell.y = y;
                    game.chosenCell.value = cell;
                };
            });
    </script>
    <style>
        .row {
            overflow: auto;
        }

        .cell {
            height: 100px;
            width: 100px;
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            float: left;
        }

        .cell.empty {
            background-color: #c6c4c4;
        }

        .cell.waiting {
            background-color: #ded9ff;
        }

        .cell.producing {
            background-color: #ff9599;
        }

        .cell.ready {
            background-color: #afffcc;
        }

        .cell.chosen {
            box-shadow: -3px -3px 2px 6px rgba(241, 167, 73, 0.6) inset;
        }
    </style>
</head>
<body>
<div ng-controller="GameController as game"
     class="game">
    <div ng-show="game.bag">Bag: {{game.bag}}</div>
    <div ng-show="game.farm">Chosen cell: {{game.chosenCell}}</div>
    <button ng-repeat="command in game.commands"
            ng-click="game.execute(command)">{{command}}
    </button>

    <div ng-show="game.chosenCommand">
        <div>Chosen command: {{game.chosenCommand}}</div>
    </div>
    <div ng-repeat="row in game.farm track by $index"
         class="row">
        <div ng-repeat="cell in row track by $index"
             ng-click="game.onCellClick($parent.$index, $index, cell)"
             ng-class="game.getCellStyle($parent.$index, $index)">
            <div ng-show="cell">B: {{cell.id}}</div>
            <div ng-show="cell">T:
                {{cell.currentProductionTimeLeft / 1000}}
            </div>
            <div ng-repeat="product in cell.queue">Q: {{product.type}} {{product.id}}</div>
        </div>
        <br/>
    </div>
</div>
</body>
</html>